PORT=5000
MONGODB_URI=mongodb+srv://suneelsoni4u_db:MuniyA8878@tracker.dbbwb2b.mongodb.net/mamafarm?retryWrites=true&w=majority&appName=tracker
JWT_SECRET=mamafarm_secret_key_2026
CLIENT_URL=https://www.mamafarm.in,https://mamafarm.in,https://mamafarm-frontend-nine.vercel.app,http://localhost:3000
